<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApp</title>
    <!-- Your preferred stylesheet library here -->
    <link href="/lib/awsm.css/dist/awsm.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <header>
        <nav>

            <ul>
                <li><a asp-area="" asp-page="/Index">WebApp</a></li>
                <li><a asp-area="" asp-page="/ViewProductCatalog">Product Catalog</a></li>
                <li><a asp-area="" asp-page="/ProductEditor" asp-route-id="">Product Editor</a></li>
                <li><a asp-area="" asp-page="/Privacy">Privacy</a></li>
            </ul>
        </nav>
    </header>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <footer>
        <div>
            &copy; 2021 - WebApp - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <!-- Your preferred javascript library here -->
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
