@page
@model IndexModel
@{
    ViewData["Title"] = "Train Watch";
}

<div class="text-center">
    <img src="/images/train.png" alt="TrainWatch" style="float:right;"/>
    <h5>Train Watch</h5>
</div>
<div class="offset-1">
    <p>Train Watch is a site that supports a database about trains.
    </p>

    <p>
        The database will include information about:
        <ul>
            <li>Rail Cars</li>
        </ul>
    </p>
</div>
